<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detail</title>
</head>

<body>
    <div>


        <%= product.name %>
            <hr/> Price: $
            <%= product.price %>
                <br/> Description:
                <%= product.description %>
    </div>
    <div>
        <a href="/">back</a>
    </div>
    <div>

        <form action="/addToCart" method="POST">
            <input type="hidden" name="name" value=" <%=product.name %>" />
            <input type="hidden" name="price" value=" <%=product.price %>" />
            <input type="submit" value="Add to Cart" />
        </form>

    </div>
</body>

</html>